<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include::common_header(~{::title},~{::link},~{::style},~{::script},~{::meta})">
    <title>用户首页</title>
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
<nav id="topNav" class="navbar navbar-expand-sm navbar-dark muzi-bg">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><i class="fa fa-snowflake fa-lg"></i>&nbsp;揽艾&nbsp;亲倍鲜</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <div class="row">
                <th:block th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.id!=null}">
                    <a class="nav-link text-white" th:href="@{/home.html}">
                        <i class="fas fa-fw fa-cloud " aria-hidden="true"></i>工作台
                    </a>
                    <a class="nav-link text-white" href="#">
                        <i class="fas fa-fw fa-user"></i>
                        <th:block
                            th:text="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.nickname} "/>

                    </a>
                    <a id="btnLogOut" class="nav-link text-white" th:href="@{/logout}">
                        <i class="fas fa-fw fa-sign-out-alt"></i>退出
                    </a>
                </th:block>
                <th:block th:if="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.id==null}">
                    <a class="nav-link text-white" th:href="@{/home.html}">
                        <i class="fas fa-fw fa-sign-in-alt" aria-hidden="true"></i>登录
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</nav>
<div class="row">&nbsp;</div>
<div class="container">
    <nav class="topbar-nav is-hoverable">
        <ul class="metismenu" id="navMenu">
            <li>
                <a class="text-center" th:href="@{/}">
                    <i class="fa fa-home fa-lg"></i>&nbsp;首页
                </a>
            </li>
            <li>
                <a class="has-arrow text-center" href="#" aria-expanded="false">产品中心</a>
                <ul aria-expanded="false">
                    <li><a href="#">item 0.1</a></li>
                    <li><a href="#">item 0.2</a></li>
                    <li><a href="http://onokumus.com">onokumus</a></li>
                    <li><a href="#">item 0.4</a></li>
                </ul>
            </li>
            <li>
                <a class="text-center" href="#" aria-expanded="false">荣誉资质</a>
            </li>
            <li>
                <a class="text-center" href="#" aria-expanded="false">在线留言</a>
            </li>
            <li>
                <a class="text-center" href="#" aria-expanded="false">联系我们</a>
            </li>
            <li>
                <a class="text-center" href="#" aria-expanded="false">关于我们</a>
            </li>
        </ul>
    </nav>

</div>
<div>
    <form class="form-horizontal">
        <div class="container bg-light">
            <div class="row  justify-content-center">
                <div id="demo" class="col-sm-12 carousel slide" data-ride="carousel">

                    <!-- 指示符 -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <li data-target="#demo" data-slide-to="3"></li>
                    </ul>

                    <!-- 轮播图片 -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
                            <div class="carousel-caption">
                                <p>描述文字!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
                            <div class="carousel-caption">
                                <p>描述文字!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
                            <div class="carousel-caption">
                                <p class="text-danger">描述文字!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
                            <div class="carousel-caption">
                                <p class="text-danger">描述文字!</p>
                            </div>
                        </div>
                    </div>

                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-2 col-form-label">&nbsp;</label>
            </div>
        </div>
    </form>
</div>
</body>
</html>
