<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="LOG_PATTERN" value="[%-5p][%d{HH:mm:ss}][%t][%c (%M:%L)] %green{%m%n}"/>
<!--                  value="[%-5p][%d{HH:mm:ss}][%t][%c (%M:%L)] %m%n"/>-->

    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.zimu" level="DEBUG"/>
        <Logger name="com" level="INFO"/>
        <Logger name="org" level="INFO"/>
        <Logger name="druid" level="INFO"/>
        <Logger name="io" level="INFO"/>
        <Logger name="reactor" level="INFO"/>
        <Logger name="net" level="INFO"/>
    </Loggers>
</Configuration>  