<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="/common/include::common_header(~{::title},~{::link},~{::style},~{::script},~{::meta})">
        <title>菜单管理</title>
        <script type="text/javascript" th:src="@{/static/js/menu_list.js}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <form class="form-horizontal" th:action="@{/admin/menu/list}" method="POST">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <a class="btn btn-success btn-sm" th:href="@{/admin/menu/add?id=0}" role="button"><i
                        class="fas fa-fw fa-plus-square"></i>添加
                    </a>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <table class="table table-sm table-striped table-bordered table-hover" id="myTable">
                            <thead class="thead-light ">
                                <tr>
                                    <th scope="col">菜单名称</th>
                                    <th scope="col">菜单类型</th>
                                    <th scope="col">级别</th>
                                    <th scope="col">图标</th>
                                    <th scope="col">描述</th>
                                    <th scope="col">链接</th>
                                    <th scope="col">排序</th>
                                    <th scope="col">操作</th>
                                    <th scope="col">添加/编辑</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
