<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/include::common_header(~{::title},~{::link},~{::style},~{::script},~{::meta})">
    <title>任务列表</title>
    <script type="text/javascript" th:src="@{/static/js/quartz/list.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group">
        </div>
        <div class="form-group">
            <div class="form-group">
                <table class="table table-sm table-striped table-bordered table-hover" id="myTable">
                    <thead class="thead-light ">
                    <tr>
                        <th scope="col">任务名称</th>
                        <th scope="col">beanName</th>
                        <th scope="col">beanClass</th>
                        <th scope="col">任务状态</th>
                        <th scope="col">表达式</th>
                        <th scope="col">开始时间</th>
                        <th scope="col">结束时间</th>
                        <th scope="col">上一次触发时间</th>
                        <th scope="col">下一次触发时间</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>
